<table>
<tr>
<td colspan="10" style="text-align: center; height: 50px; vertical-align: top;"><img border="0" alt="Line" style="width:850px; height:24px; border:0;" ng-src="https://www.mail-signatures.com/signature-generator/img/templates//freelancer-in-the-middle/gradient-top.png" src="https://www.mail-signatures.com/signature-generator/img/templates//freelancer-in-the-middle/gradient-top.png"></td>
</tr>

<tr>
    <td style="font-size: 8pt; line-height: 14px;">  <span style="font-size: 16pt; font-family: Arial, sans-serif; color:#000000; font-weight: bold;" class="ng-binding">Mohammed BENOUAR<br></span>
        <br>
    <span ng-if="showField('title')" style="font-family: Arial, sans-serif; font-size: 8pt; line-height: 14px; color:#686868;" class="ng-binding ng-scope">Coder &amp;
    Embedded system engineer <br></span>

    <br>
    <br> 
    <br>
 <span ng-if="showField('https://www.medbnr.com/') class="ng-scope><a href="https://medbnr.com"  target="_blank" rel="noopener"><img src="https://medbnr.com/images/web.png" alt="domain" width="13%"></a>&nbsp;</span>
    <span ng-if="showField('https://www.linkedin.com/in/benouarmohammed/')" class="ng-scope"><a href="https://www.linkedin.com/in/benouarmohammed/" target="_blank" rel="noopener"><img src="https://medbnr.com/images/linkedin.png" width=""></a>&nbsp;</span>
    <span ng-if="showField('http://github.com/BENOUARMohamed')" class="ng-scope"><a href="http://github.com/BENOUARMohamed" target="_blank" rel="noopener"><img src="https://medbnr.com/images/github.png" alt="github"></a>&nbsp;</span>
    
    </td>
     <td><img class="image" src="https://medbnr.com/images/signature.png" width="70px" /></td>
    <td style="width: 20px;"></td>
    <td style="width: 117px; text-align: center;"><img alt="photograph" width="85" border="0" style="border:0; height:auto; width:85px" src="https://medbnr.com/images/B.png"></td>
    <td style="width: 20px;"></td>
    <td width="212" style="width: 212px;">
        <span ng-if="showField('mobile')" style="font-size: 8pt; line-height: 14px; color:#686868;" class="ng-binding ng-scope">
                    <img src="https://medbnr.com/images/telephone.png"> +213 774814578 <br>

                    <span ng-if="showField('medbnr.com')" style="FONT-FAMILY: Arial, sans-serif; font-size: 8pt; line-height: 14px; color:#686868;" class="ng-scope"><img src="https://medbnr.com/images/mail.png"><a href="http://moh@medbnr.com/" style="font-size: 8pt; color:#686868; text-decoration: none;"><span style="text-decoration: none; font-size: 8pt;  line-height: 14px; color:#686868; FONT-FAMILY: Arial, sans-serif;" class="ng-binding">moh@medbnr.com</span></a>
                    <br>
                    <span ng-if="showField('http://mohammed.benouar.1198@univ-sba.dz/')" style="FONT-FAMILY: Arial, sans-serif; font-size: 8pt; line-height: 14px; color:#686868;" class="ng-scope"></span><img src="https://medbnr.com/images/acceptance.png" alt="circled-envelope" width="10%"><a href="http://mohammed.benouar.1198@univ-sba.dz/" style="font-size: 8pt; color:#686868; text-decoration: none;"><span style="text-decoration: none; font-size: 8pt;  line-height: 14px; color:#686868; FONT-FAMILY: Arial, sans-serif;" class="ng-binding">mohammed.benouar.1198@univ-sba.dz</span></a>
                    <br>
                    <br>
                    <span ng-if="showField('company')" style="font-size: 8pt; line-height: 14px; font-family: Arial, sans-serif; color: #686868;" class="ng-binding ng-scope">freelancer<span ng-if="isAnyFieldEntered('address1,address2')" style="font-size: 8pt; line-height: 14px;" class="ng-scope">, </span>Sidi Bel-Abbes, Algeria</span>
                </span>
                <div style="font-size: 10px; color: #7F8C8D; border-top: 1px solid #E8E8E8; padding-top: 8px;">
                    <strong>Specialties:</strong> ARM Cortex-M • IoT • RTOS • Low-Power Design • PCB Design • AI • Web Dev
                </div>
    </td>
    <td style="width: 20px;"></td>
    <td style="width: 117px; text-align: center;"><img alt="photograph" width="85" border="0" style="border:0; height:auto; width:85px" src="https://medbnr.com/images/qr_with_logo.png"></td>
    <br>
</tr>

<tr>
    <td colspan="10" style="text-align: center; vertical-align: bottom; height: 50px"><img border="0" alt="Line" style="width:850px; height:24px; border:0;" ng-src="https://www.mail-signatures.com/signature-generator/img/templates//freelancer-in-the-middle/gradient-bottom.png" src="https://www.mail-signatures.com/signature-generator/img/templates//freelancer-in-the-middle/gradient-bottom.png"></td>
</tr>


</table>
<div style="font-size: 10px; color: #95A5A6; margin-top: 15px; border-top: 1px solid #E8E8E8; padding-top: 8px; max-width: 850px;">
        This email and any attachments are confidential and may be privileged. If you are not the intended recipient, please notify the sender immediately and delete this email.
    </div>
