<table>
<tr>
<td colspan="10" style="text-align: center; height: 50px; vertical-align: top;"><img border="0" alt="Line" style="width:850px; border:0;" ng-src="https://www.mail-signatures.com/signature-generator/img/templates//freelancer-in-the-middle/gradient-top.png" src="https://www.mail-signatures.com/signature-generator/img/templates//freelancer-in-the-middle/gradient-top.png"></td>
</tr>

<tr>
    
    <td ><img alt="photograph" style="border-radius:10px;box-shadow: 2px 5px 10px ; height:auto;" src="https://www.medbnr.com/image/images/personal.jpg"></td>
    
    <td>  <span style="font-size: 22pt; font-family: Arial, sans-serif; color:#000000; font-weight: bold; text-shadow: 2px 5px 20px;" class="ng-binding">Mohammed Benouar<br></span>
        <br>
    &nbsp;<span ng-if="showField('title')" style="font-family: Arial, sans-serif; font-size: 11pt; line-height: 10px; color:#686868;" class="ng-binding ng-scope">
    Embedded Systems Engineer <br>
    <br>
    <br>
<span ng-if="showField('https://www.medbnr.com/') class="ng-scope><a href="https://medbnr.com"  target="_blank" rel="noopener" style="margin-right: 10px;"><img src="https://www.medbnr.com/image/images/web.gif" alt="domain" width="13%"></a></span>
    <span ng-if="showField('https://www.linkedin.com/in/medbnr/')" class="ng-scope"><a href="https://www.linkedin.com/in/benouarmohammed/" target="_blank" rel="noopener" style="margin-right: 10px;"><img src="https://www.medbnr.com/image/images/linkedin.png" alt="linkedin" width="13%"></a></span>
    <span ng-if="showField('http://github.com/BENOUARMohamed')" class="ng-scope"><a href="http://github.com/BENOUARMohamed" target="_blank" rel="noopener" style="margin-right: 10px;"><img src="https://www.medbnr.com/image/images/github.png" width="13%" alt="github"></a></span>
        <span ng-if="showField('http://github.com/BENOUARMohamed')" class="ng-scope"><a href="http://github.com/BENOUARMohamed" target="_blank" rel="noopener" style="margin-right: 10px;"><img src="https://www.medbnr.com/image/images/google-scholar.png" width="13%" alt="Google scholar"></a></span>
    
    </td>
    
    <td style="width: 20px;"></td>
    <td width="212" style="width: 212px;">
        <span ng-if="showField('mobile')" style="font-size: 8pt; line-height: 14px; color:#686868;" class="ng-binding ng-scope">
                    <img src="https://www.medbnr.com/image/images/phone.png"  width="8%"> <a href="tel:+213774814578" style="text-decoration: none; color: #686868;">&nbsp;&nbsp;+213 774814578</a> <br>
                    
                    <img src="https://www.medbnr.com/image/images/email.png"  width="8%" alt="circled-envelope"><a href="mailto:moh@medbnr.com" style="font-size: 8pt; color:#686868; text-decoration: none;"><span style="text-decoration: none; font-size: 8pt;  line-height: 14px; color:#686868; FONT-FAMILY: Arial, sans-serif;" class="ng-binding">&nbsp;&nbsp;&nbsp;moh@medbnr.com</span></a>
                    <br>
                    <img src="https://www.medbnr.com/image/images/location.png"  width="8%" alt="circled-envelope"><a href="https://www.google.com/maps/place/Sidi+Bel+Abb%C3%A8s/@35.2053795,-0.7093301,13z/data=!4m12!1m5!3m4!2zMzXCsDEyJzQxLjciTiAwwrAzNyc0NC40Ilc!8m2!3d35.211576!4d-0.628988!3m5!1s0xd7f0030b5f78f73:0x24600b519acfdc29!8m2!3d35.2105876!4d-0.629983!16zL20vMGI5NTN5?entry=ttu&g_ep=EgoyMDI1MTAwMS4wIKXMDSoASAFQAw%3D%3D" style="font-size: 8pt; color:#686868; text-decoration: none;"><span style="text-decoration: none; font-size: 8pt;  line-height: 14px; color:#686868; FONT-FAMILY: Arial, sans-serif;" class="ng-binding">&nbsp;&nbsp;&nbsp;Sidi Bel Abbes, Algeria </span></a>
                    <br>
                    <br>
                    

                </span>
                <div style="font-size: 10px; color: #7F8C8D; border-top: 1px solid #E8E8E8; padding-top: 8px;">PCB design, μC, SBC, Embedded Frameworks/OS, IoT, AI & Automation, Web
                </div>
    </td>
    
    
    <td style="width: 117px; text-align: center;"><img alt="photograph" width="85" border="0" style="border:0; height:auto; width:85px" src="https://www.medbnr.com/image/images/qr_with_logo.png"><br><br><img class="https://www.medbnr.com/image/images" src="https://www.medbnr.com/image/images/signature.png" width="70px" /></td>
    <td style="width: 20px;"></td>
</tr>

<tr>
    <td colspan="10" style="text-align: center; vertical-align: bottom; height: 50px"><img border="0" alt="Line" style="width:850px; border:0;" ng-src="https://www.mail-signatures.com/signature-generator/img/templates//freelancer-in-the-middle/gradient-bottom.png" src="https://www.mail-signatures.com/signature-generator/img/templates//freelancer-in-the-middle/gradient-bottom.png"></td>
</tr>


</table>
